@charset 'utf-8';

$main-bg-color : #f7f7f7;
$hd-bg-color : #ffffff;
$ft-bg-color : #ffffff;

$ft-main-color : #222222;
$ft-sub-color : #606060;
$ft-reverse-color :  #ffffff;

$bd-color : #eaeaea;

$main-btn-bg-color : rgba(0,0,0,0.04);
$main-btn-hv-color : rgba(0,0,0,0.08);
$ft-btn-bg-color : #ffffff;
$ft-btn-hv-color : #f8f8f8;
$sub-btn-bg-color : rgba(0,0,0,0.02);

$point-color : #3399cc;

$albumn-color : #9fd9ef;

$red : #e01b1b;